@model HomeIndexViewModel
@{
    ViewBag.Title = "Home";
    Layout = "_Layout";
    var currentUserId = User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
}

<div class="container-fluid gedf-wrapper">
    <div class="row">

        <!-- Panel lateral izquierdo -->
        <div class="col-md-3">
            <div class="card shadow-sm border-0">
                <nav class="list-group list-group-flush">
                    <a asp-controller="" asp-action=""
                       class="list-group-item list-group-item-action text-dark fw-semibold no-link-style">
                        LinkUp (Home)
                    </a>
                    <a asp-controller="" asp-action=""
                       class="list-group-item list-group-item-action text-dark fw-semibold no-link-style">
                        Amigos
                    </a>
                    <a asp-controller="FriendShipRequest" asp-action="Index"
                       class="list-group-item list-group-item-action text-dark fw-semibold no-link-style">
                        Solicitudes de amistad
                    </a>
                    <a asp-controller="Battleship" asp-action="Index"
                       class="list-group-item list-group-item-action text-dark fw-semibold no-link-style">
                        Battleship
                    </a>
                    <div class="list-group-item bg-light">
                        <div class="h6 text-muted mb-1">Following</div>
                        <div class="h5 mb-0 fw-bold">6758</div>
                    </div>
                </nav>
            </div>
        </div>


        <!-- Main content -->
        <div class="col-md-6 gedf-main">
            @* Mensajes de alerta *@
            @if (ViewBag.Message != null)
            {
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    @if (ViewBag.Message is string)
                    {
                        <p class="text-center">@Html.Raw(ViewBag.Message.Replace("\n", "<br />"))</p>
                    }
                    else
                    {
                        @foreach (var line in ViewBag.Message)
                        {
                            <p class="text-center">@line</p>
                        }
                    }
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }

            <!-- Crear post -->
            <div class="card gedf-card mb-3">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <button class="nav-link active" id="posts-tab" data-bs-toggle="tab" data-bs-target="#posts"
                                    type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">
                                Crear una publicación
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                            <form asp-controller="Home" asp-action="Post" enctype="multipart/form-data">
                                <div class="mb-2">
                                    <textarea asp-for="PostCreateViewModel.Text" class="form-control" rows="4"
                                              placeholder="En que estas pensando?"></textarea>
                                    <span class="text-danger" asp-validation-for="PostCreateViewModel.Text"></span>
                                </div>
                                <div class="mb-2">
                                    <label asp-for="PostCreateViewModel.ImageFile">Imagen</label>
                                    <input asp-for="PostCreateViewModel.ImageFile" class="form-control"/>
                                    <span class="text-danger" asp-validation-for="PostCreateViewModel.ImageFile"></span>
                                </div>
                                <div class="mb-2">
                                    <label asp-for="PostCreateViewModel.VideoUrl">URL del video</label>
                                    <input asp-for="PostCreateViewModel.VideoUrl" class="form-control"/>
                                    <span class="text-danger" asp-validation-for="PostCreateViewModel.VideoUrl"></span>
                                </div>
                                <div class="mb-2">
                                    <button class="btn btn-primary" type="submit">Publicar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Posts existentes -->
            @foreach (var post in Model.Posts)
            {
                <div class="card gedf-card mb-4">
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle me-2" width="45" src="@(post.User!.PhotoPath!)" alt="Imagen de perfil">
                                <div>
                                    <div class="h5 m-0">@post.User.FirstName</div>
                                    <div class="h7 text-muted">@($"{post.User.FirstName} {post.User.LastName}")</div>
                                </div>
                            </div>
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-three-dots" style="color: blue;"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item edit-post-btn" href="#"
                                           data-bs-toggle="modal"
                                           data-bs-target="#editPostModal"
                                           data-id="@post.Id"
                                           data-text="@post.Text"
                                           data-video="@post.VideoUrl"
                                           >
                                            Editar
                                        </a>
                                    </li>
                                    <li>
                                    <a class="dropdown-item delete-post-btn" href="#"
                                       data-bs-toggle="modal"
                                       data-bs-target="#deletePostModal"
                                       data-id="@post.Id"
                                    >
                                        Eliminar 
                                    </a>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="text-muted h7 mb-2"><i class="fa fa-clock-o"></i>@post.CreatedAt.ToShortDateString()</div>
                        <p class="card-text">@post.Text</p>

                        @if (!string.IsNullOrEmpty(post.ImagePath))
                        {
                            <img class="card-img-top" src="@(post.ImagePath)" alt="imagen"/>
                        }
                        @if (!string.IsNullOrEmpty(post.VideoUrl))
                        {
                            var embedUrl = post.VideoUrl.Replace("watch?v=", "embed/");
                            <div class="ratio ratio-16x9 mt-2">
                                <iframe src="@embedUrl" title="Video de YouTube" allowfullscreen></iframe>
                            </div>
                        }
                    </div>

                    <div class="card-footer">
                        @switch (post.IsLikedByUserInThisSession)
                        {
                            case null:
                                <text>
                                    <form asp-controller="Home" asp-action="LikePost" method="post" style="display:inline;">
                                        <input type="hidden" name="postId" value="@post.Id" />
                                        <input type="hidden" name="like" value="true" />
                                        <button type="submit" class="card-link btn btn-link p-0">Me gusta</button>
                                    </form>

                                    <form asp-controller="Home" asp-action="LikePost" method="post" style="display:inline; margin-left:10px;">
                                        <input type="hidden" name="postId" value="@post.Id" />
                                        <input type="hidden" name="like" value="false" />
                                        <button type="submit" class="card-link btn btn-link p-0">No gusta</button>
                                    </form>
                                </text>
                                break;

                            case true:
                                <text>
                                    <span class="card-text btn btn-primary text-light disabled">Me gusta</span>

                                    <form asp-controller="Home" asp-action="LikePost" method="post" style="display:inline; margin-left:10px;">
                                        <input type="hidden" name="postId" value="@post.Id" />
                                        <input type="hidden" name="like" value="false" />
                                        <button type="submit" class="card-link btn btn-link p-0">No gusta</button>
                                    </form>
                                </text>
                                break;

                            case false:
                                <text>
                                    <form asp-controller="Home" asp-action="LikePost" method="post" style="display:inline;">
                                        <input type="hidden" name="postId" value="@post.Id" />
                                        <input type="hidden" name="like" value="true" />
                                        <button type="submit" class="card-link btn btn-link p-0">Me gusta</button>
                                    </form>

                                    <span class="card-text text-light btn btn-danger disabled" style="margin-left:10px;">No gusta</span>
                                </text>
                                break;
                        }
                        <div class="border-top footer text-muted mt-2">
                            <div class="text-muted mt-1 mb-2">Comentarios</div>

                            @* Comentarios *@
                            @foreach (var comment in post.Comments)
                            {
                                <div class="card mb-3">
                                    <div class="card-header bg-primary-subtle d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <img class="rounded-circle me-2" width="30" src="@(comment.Author!.PhotoPath)" alt="Imagen de perfil">
                                            <div class="h7">@($"{comment.Author.FirstName} {comment.Author.LastName}")</div>
                                        </div>

                                        @if (comment.AuthorId == currentUserId)
                                        {
                                            <div class="dropdown">
                                                <button class="btn dropdown-toggle" type="button"
                                                        data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="bi bi-three-dots" style="color: blue;"></i>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a class="dropdown-item edit-comment-btn" href="#"
                                                           data-bs-toggle="modal"
                                                           data-bs-target="#editCommentModal"
                                                           data-id="@comment.Id"
                                                           data-text="@comment.Text">
                                                            Editar comentario
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item delete-comment-btn" href="#"
                                                           data-bs-toggle="modal"
                                                           data-bs-target="#deleteCommentModal"
                                                           data-id="@comment.Id">
                                                            Eliminar comentario
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        }
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">@comment.Text</p>
                                    </div>

                                    @* Replies *@
                                    @foreach (var reply in comment.Replies)
                                    {
                                        <div class="card mb-1 ms-4">
                                            <div class="card-header bg-secondary-subtle d-flex justify-content-between align-items-center">
                                                <div class="d-flex align-items-center">
                                                    <img class="rounded-circle me-2" width="25" src="@(reply.Author!.PhotoPath)" alt="Imagen de perfil">
                                                    <div class="h7">@($"{reply.Author.FirstName} {reply.Author.LastName}")</div>
                                                </div>

                                                @if (reply.AuthorId == currentUserId)
                                                {
                                                    <div class="dropdown">
                                                        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                            <i class="bi bi-three-dots" style="color: blue;"></i>
                                                        </button>
                                                        <ul class="dropdown-menu">
                                                            <li>
                                                                <a class="dropdown-item edit-comment-btn" href="#"
                                                                   data-bs-toggle="modal"
                                                                   data-bs-target="#editCommentModal"
                                                                   data-id="@reply.Id"
                                                                   data-text="@reply.Text">
                                                                    Editar comentario
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="dropdown-item delete-comment-btn" href="#"
                                                                   data-bs-toggle="modal"
                                                                   data-bs-target="#deleteCommentModal"
                                                                   data-id="@reply.Id">
                                                                    Eliminar comentario
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                }

                                            </div>

                                            <div class="card-body">@reply.Text</div>
                                        </div>
                                    }

                                    @* Form para responder *@
                                    <div class="card bg-light mt-2">
                                        <div class="container-fluid mt-3">
                                            <form asp-controller="Home" asp-action="CreateComment" method="post">
                                                <input type="hidden" asp-for="CommentCreateViewModel.AuthorId" value="@currentUserId"/>
                                                <input type="hidden" asp-for="CommentCreateViewModel.PostId" value="@post.Id"/>
                                                <input type="hidden" asp-for="CommentCreateViewModel.ParentCommentId" value="@comment.Id"/>

                                                <div class="d-flex align-items-start mb-2">
                                                    <textarea asp-for="CommentCreateViewModel.Text"
                                                              class="form-control me-2"
                                                              rows="2"
                                                              placeholder="Responde a este mismo comentario"
                                                              style="resize: none; flex: 1;"></textarea>
                                                    <button class="btn btn-primary" type="submit">Responder</button>
                                                </div>
                                                <span class="text-danger" asp-validation-for="CommentCreateViewModel.Text"></span>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            }

                            @* Form para comentar el post *@
                            <div class="card bg-light mt-2">
                                <div class="container-fluid mt-3">
                                    <form asp-controller="Home" asp-action="CreateComment" method="post">
                                        <input type="hidden" asp-for="CommentCreateViewModel.AuthorId" value="@currentUserId"/>
                                        <input type="hidden" asp-for="CommentCreateViewModel.PostId" value="@post.Id"/>

                                        <div class="d-flex align-items-start mb-2">
                                            <textarea asp-for="CommentCreateViewModel.Text"
                                                      class="form-control me-2"
                                                      rows="2"
                                                      placeholder="Comenta este post"
                                                      style="resize: none; flex: 1;"></textarea>
                                            <button class="btn btn-primary" type="submit">Comentar</button>
                                        </div>
                                        <span class="text-danger" asp-validation-for="CommentCreateViewModel.Text"></span>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <!-- Lateral derecho (opcional) -->
        <div class="col-md-3">
            <div class="card gedf-card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text...</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal reutilizable para editar un post -->
<div class="modal fade" id="editPostModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-controller="Home" asp-action="EditPost" enctype="multipart/form-data" method="post">
                <input type="hidden" id="modalPostId" asp-for="PostEditViewModel.Id" />

                <div class="modal-header">
                    <h5 class="modal-title">Editar Publicación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <div class="mb-2">
                        <label asp-for="PostEditViewModel.Text">Contenido</label>
                        <textarea id="modalPostText" asp-for="PostEditViewModel.Text" class="form-control" rows="4"></textarea>
                        <span class="text-danger" asp-validation-for="PostEditViewModel.Text"></span>
                    </div>

                    <div class="mb-2">
                        <label asp-for="PostEditViewModel.ImageFile">Imagen</label>
                        <input id="modalPostImage" asp-for="PostEditViewModel.ImageFile" class="form-control"/>
                        <span class="text-danger" asp-validation-for="PostEditViewModel.ImageFile"></span>
                    </div>

                    <div class="mb-2">
                        <label asp-for="PostEditViewModel.VideoUrl">URL del video</label>
                        <input id="modalPostVideo" asp-for="PostEditViewModel.VideoUrl" class="form-control"/>
                        <span class="text-danger" asp-validation-for="PostEditViewModel.VideoUrl"></span>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Modal de confirmación para eliminar un post -->
<div class="modal fade" id="deletePostModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmar eliminación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                ¿Estás seguro de que deseas eliminar este post?
            </div>
            <div class="modal-footer">
                <form asp-controller="Home" asp-action="DeletePost" method="post" >
                    <input type="hidden" id="modalDeletePostId" name="postId" />
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </div>
        </div>
    </div>
</div>



<!-- Modal de confirmación para eliminar un comentario -->
<div class="modal fade" id="deleteCommentModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmar eliminación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                ¿Estás seguro de que deseas eliminar este comentario?
            </div>
            <div class="modal-footer">
                <form asp-controller="Home" asp-action="DeleteComment" method="post" >
                    <input type="hidden" id="modalDeleteCommentId" name="commentId" />
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </div>
        </div>
    </div>
</div>



<!-- Modal reutilizable para editar comentario -->
<div class="modal fade" id="editCommentModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-controller="Home" asp-action="EditComment" method="post">
                <input type="hidden" id="modalCommentId" asp-for="CommentEditViewModel.Id"  />
                <div class="modal-header">
                    <h5 class="modal-title">Editar Comentario</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <textarea class="form-control" id="modalCommentText" asp-for="CommentEditViewModel.Text"></textarea>
                    <span asp-validation-for="CommentEditViewModel.Text" class="text-danger"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Para obtener el ID y texto que necesita el fomulario del modal de editar post -->
<script>
document.querySelectorAll(".edit-post-btn").forEach(btn => {
    btn.addEventListener("click", function(e) {
        e.preventDefault();

        const id = this.dataset.id;
        const text = this.dataset.text;
        const video = this.dataset.video;

        document.getElementById("modalPostId").value = id;
        document.getElementById("modalPostText").value = text;
        document.getElementById("modalPostVideo").value = video;
    });
});
</script>

<!-- Para obtener el ID que necesita el fomulario del modal de eliminar comentarios -->
<script>
document.querySelectorAll(".delete-post-btn").forEach(btn => {

  btn.addEventListener("click", function(e) {
    e.preventDefault();
  
    // Colocamos el ID en un campo oculto dentro del modal
    document.getElementById("modalDeletePostId").value = this.dataset.id;
  });

});
</script>


<!-- Para obtener el ID y texto que necesita el fomulario del modal de editar comentarios -->
<script>
document.querySelectorAll(".edit-comment-btn").forEach(btn => {
    
    btn.addEventListener("click", function(e) {
        e.preventDefault();
        const id = this.dataset.id;
        const text = this.dataset.text;

        document.getElementById("modalCommentId").value = id;
        document.getElementById("modalCommentText").value = text;
    });

});
</script>

<!-- Para obtener el ID que necesita el fomulario del modal de eliminar comentarios -->
<script>
document.querySelectorAll(".delete-comment-btn").forEach(btn => {

  btn.addEventListener("click", function(e) {
    e.preventDefault();
  
    // Colocamos el ID en un campo oculto dentro del modal
    document.getElementById("modalDeleteCommentId").value = this.dataset.id;
  });

});
</script>

@section Scripts {
    <script>
        $(document).ready(function () {
            // Mostrar modal de edición de post si hay errores
            var showPostModal = '@(ViewBag.ShowPostModal ?? false)'.toLowerCase() === 'true';
            if (showPostModal) {
                $('#editPostModal').modal('show');
            }

            // Mostrar modal de edición de comentario si hay errores
            var showCommentModal = '@(ViewBag.ShowCommentModal ?? false)'.toLowerCase() === 'true';
            if (showCommentModal) {
                $('#editCommentModal').modal('show');
            }
        });
    </script>
}
