@model List<UserViewModel>
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="row">
    <div class="d-flex justify-content-center align-items-center min-vh-100">
        <div class="col-md-5">
            @{
                if (ViewBag.Message != null)
                {
                    @if (ViewBag.Message is string)
                    {
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                            <p class="text-center">@Html.Raw(ViewBag.Message.Replace("\n", "<br />"))</p>
                            <br/>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                            @foreach (var line in ViewBag.Message)
                            {
                                <p class="text-center">@line</p>
                            }
                            <br/>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                }
            }
            <div class="card mb-3">
                <div class="card-header fw-bold">
                    Filtros
                </div>
                <div class="card-body">
                    <form asp-controller="Battleship" asp-action="Create" method="get">
                        <div class="d-flex justify-content-between">
                            <div class="input-group me-1">
                                <span class="input-group-text">Nombre de usuario</span>
                                <input type="text" name="usernameFilter" class="form-control">
                                <button type="submit" class="btn btn-outline-primary">
                                    Filtrar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
           </div>

            
            <div class="card">
               
                <div class="card-header fw-bold">
                    Selecciona un usuario
                </div>
                <form asp-controller="Battleship" asp-action="CreateGame" method="post">
                    <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
                        <table class="table table-hover align-middle mb-0">
                            <thead class="table-light sticky-top">
                            <tr>
                                <th>Usuario</th>
                                <th>Seleccionar</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="d-flex align-items-center">
                                                <img class="rounded-circle me-2" width="45" src="@(item.PhotoPath!)"
                                                     alt="Imagen de perfil">
                                                <div>
                                                    <div class="h5 m-0">@item.FirstName</div>
                                                    <div
                                                        class="h7 text-muted">@($"{item.UserName} ")</div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <input type="radio"
                                               name="SelectedUserId"
                                               value="@item.Id"
                                               class="form-check-input"
                                               required/>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>

                    <div class="card-footer text-end">
                        <a asp-controller="Battleship" asp-action="Index" class="btn btn-danger">Cancelar</a>
                        <button type="submit" class="btn btn-primary">
                            Enviar selección
                        </button>
                    </div>
                </form>
            </div>

        </div>

    </div>
</div>




